

   .header {
     display: flex;
     background-color: black;
     height: 100px;
     flex-direction: row;
   }

   .flexbox-container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
   }

   .flex-item{
     display: flex;
     flex-direction: row;
    
   }

  .flexone{
    display: flex;
     height: 100px;
    justify-content: flex-start;
     flex-direction: row;
    
   }

   .flextwo{
     display: flex;
     flex-direction: row;
     height: 100px
     width:100px
     justify-content: flex-end;
     
   }

   .flextwo img{
     height: 100px;
   }

   .flexthree{
    display: flex;
    flex-direction: column;
     height: 300px;
     background-color: purple;
     
   }

   .flexthree img{
     height: 300px;
     width: 300px
     
   }

   .flexbox-container2{
    display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     
     
   }



   .flexfour img {
    display: flex;
     height: 40px;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
   
   }

   .flexfour{
     margin-top: -300px;
     margin-left: 140px;
     
   }

   .header .head_left img.last{  -webkit-animation:spin 4s linear infinite;  -moz-animation:spin 4s linear infinite;  animation:spin 4s linear infinite;}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }